* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Noto Serif JP", serif;
  font-size: 24px;
  background-color: #fff9ee;
}

p {
  margin: 0;
}

/* ヘッダー*/
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto -30px auto;
}

header {
  border-bottom: 1px solid #1a5d0d;
}

header img {
  width: 100%;
  max-width: 135px;
  height: auto;
}

#nav-pc ul {
display: flex;
list-style: none;
}

#nav-pc li {
  margin-right: 30px;
}

#nav-pc a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: #506232;
}

nav {
  font-family: "Noto Serif JP", serif;
}

/* スマホ用ナビを非表示 */
#nav-sp {
  display: none;
}
#menu-sp {
  display: none;
}


/* メインページ */
#main {
  margin: 0 auto;
  max-width: 1250px;
  margin-bottom: 100px;
}
#main img {
  max-width: 100%;
  height: auto;
}

/* About */
#about {
  background-color: #fff6dc;
  text-align: center;
  position: relative;
  font-family: "Noto Serif JP", serif;
}
#about .section-title {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 200px;
  line-height: 1;
}
#about .big-title {
  position: absolute;
  bottom: -6px;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(4.688rem, 4.018rem + 2.86vw, 6.25rem);
  font-weight: bold;
  pointer-events: none;
  color: #5062321A;
  white-space: nowrap;
}
#about h1 {
  position: relative;
  font-size: clamp(2.813rem, 2.411rem + 1.71vw, 3.75rem);
  color: #506232;
  z-index: 1;
  display: inline-block;
}
#about p {
  font-size: 28px;
  color: #506232;
}

.about-content {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  max-width: 1250px;
  gap: 20px;
}
.about-text h2 {
  font-size: clamp(0.938rem, 0.696rem + 1.03vw, 1.5rem);
  color: #324216;
  font-family: "Noto Sans JP", sans-serif;
}
.about-text h3 {
  font-size: clamp(2rem, 1.571rem + 1.83vw, 3rem);
  font-weight: bold;
  color: #324216;
  font-family: "Noto Sans JP", sans-serif;
}
#about .about-text p {
  font-size: clamp(0.938rem, 0.696rem + 1.03vw, 1.5rem);
  min-width: 30em;
  color: #324216;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 20px;
  margin-bottom: 50px;
  line-height: 50px;
}
.about-image img {
  width: 80%;
  max-width: 450px;
  height: auto; 
  margin-left: 50px;
}

.about-text {
  text-align: left;
  margin-top: 30px;
}
.btn-about img {
  width: 250px;
  max-width: 100%;
  height: auto;
  margin-bottom: 200px;
  margin-left: 200px;
}

.about-item {
  gap: 30px;
}

/* Service */
#service {
  text-align: center;
  position: relative;
  font-family: "Noto Serif JP", serif;
}
#service .section-title {
  position: relative;
  display: inline-block;
  text-align: center;
  line-height: 1;
  margin-top: 200px;
}
#service .big-title {
  position: absolute;
  bottom: -6px;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 100px;
  font-weight: bold;
  pointer-events: none;
  color: #5062321A;
  white-space: nowrap;
}
#service h1 {
  position: relative;
  font-size: 60px;
  color: #506232;
  z-index: 1;
  display: inline-block;
}
#service p {
  font-size: clamp(0.938rem, 0.044rem + 1.86vw, 1.5rem);
  min-width: 20rem;
  color: #506232;
  line-height: clamp(1.875rem, -0.11rem + 4.14vw, 3.125rem);
}
.service-item > p {
  transform: translateX(20px);
}
.section-inner {
  max-width: 1400px;
  margin: 0 auto;
}
.service-list {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 70px;
  margin-bottom: 100px;
  font-family: "Noto Sans JP", serif;
  max-width: 1250px;
}


.service-item-image-1 img {
  max-width: 265px;
  width: clamp(14.063rem, 10.093rem + 8.28vw, 16.563rem);
  height: auto;
}
.service-item-image-2 img {
  max-width: 225px;
  width: clamp(11.25rem, 6.784rem + 9.32vw, 14.063rem);
  height: auto;
  margin: 20px auto;
}
.service-item h2 {
  font-size: clamp(1.25rem, -0.536rem + 3.73vw, 2.375rem);
  margin-top: 40px;
  margin-bottom: 30px;
  color: #324216;
}
.service-item p {
  color: #324216;
  text-align: left;
  
}
.tool {
  font-family: "Noto Sans JP", serif;
  margin-bottom: 200px;
  
}
.tool h2 {
  font-size: 38px;
  color: #324416;
  margin-top: 40px;
  margin-bottom: 30px;
}
.tool p {
  font-size: 24px;
}

/* Works */
#works {
  background-color: #fff6dc;
  text-align: center;
  position: relative;
  font-family: "Noto Serif JP", serif;
}
#works .section-title {
  position: relative;
  display: inline-block;
  text-align: center;
  line-height: 1;
  margin-top: 200px;
}
#works .big-title {
  position: absolute;
  bottom: -6px;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 100px;
  font-weight: bold;
  pointer-events: none;
  color: #5062321A;
  white-space: nowrap;
}
#works h1 {
  position: relative;
  font-size: 60px;
  color: #506232;
  z-index: 1;
  display: inline-block;
}
#works p {
  font-size: 28px;
  color: #506232;
}
.works-list {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 60px;
  margin-top: 70px;
}
.works-item {
  padding: 30px;
  text-align: center;
}
.works-item img {
  max-width: 500px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.btn-works img {
  width: 250px;
  max-width: 100%;
  height: auto;
  margin-bottom: 200px;
}


/* Contact */
#contact {
  text-align: center;
  position: relative;
  font-family: "Noto Serif JP", serif;
}
#contact .section-title {
  position: relative;
  display: inline-block;
  text-align: center;
  line-height: 1;
  margin-top: 200px;
}
#contact .big-title {
  position: absolute;
  bottom: -6px;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 100px;
  font-weight: bold;
  pointer-events: none;
  color: #5062321A;
  white-space: nowrap;
}
#contact h1 {
  position: relative;
  font-size: 60px;
  color: #506232;
  z-index: 1;
  display: inline-block;
}
#contact p {
  font-size: clamp(0.938rem, 0.589rem + 1.49vw, 1.75rem);
  color: #506232;
}
.contact-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 70px;
}
.contact-item p {
  font-size: 24px;
  font-family: "Noto Sans JP", sans-serif;
  padding-bottom: 80px;
}
.contact-item img {
  width: 500px;
  max-width: 100%;
  height: auto;
  margin-bottom: 200px;
}

/* フッター */
.footer-inner {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  gap: 10px;
  max-width: 1300px;
}
.footer-logo img {
  width: 100%;
  max-width: 680px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 0;
}
.footer-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.footer-nav a {
  font-size: 30px;
  text-decoration: none;
  color: #506232;
  font-weight: bold;
}
.footer-nav li {
  margin-bottom: 10px;
}
.footer-sns {
  display: flex;
  gap: 40px;
}

.footer-sns img {
  width: 30px;
  height: 30px;
}
.copyright {
  font-size: 20px;
  color: #506232;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer {
  border-top: 1px solid #1a5d0d;
  border-bottom: 1px solid #1a5d0d;
  padding-bottom: 20px;

}

/* Aboutページ */
.about-title {
  position: relative;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 100px;
  margin-left: 80px;
}
.about-big-title {
  position: absolute;
  bottom: -20px;
  text-align: left;
  font-size: 130px;
  color: #506232;
  opacity: 0.1;  /* ← 透明度10%を表現 */
  z-index: 0;
  white-space: nowrap;
  font-weight: bold;
  pointer-events: none;
}
.about-title h1 {
  position: relative;
  display: inline-block;
  font-size: 78px;
  color: #506232;
  z-index: 1;
  margin-left: 70px;
  font-weight: bold;
}
.about-title p {
  color: #506232;
  font-size: 36px;
  position: relative;
  display: inline-block;
  z-index: 1;
  margin-left: 100px;
}

/*コンテンツ部分*/
.abouthtml-content {
  display: block;
  width: min(100%, 1400px);
  margin: 200px auto 0;
  border-bottom: 1px solid #1a5d0d;
}
.abouthtml-item {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 400px;
}
.abouthtml-item:nth-of-type(2n) {
  gap: 50px;
}
.abouthtml-image, 
.abouthtml-image-2 {
  width: min(calc(440 / 1300 * 100%), 440px);
  flex: 1;
}
.abouthtml-image img,
.abouthtml-image-2 img {
  width: 100%;
  height: auto;
}
.about-text {
  width: min(calc(860 / 1300 * 100%), 860px);
}
.abouthtml-text h1 {
  font-family: "Noto Sans JP", serif;
  font-size: clamp(1.25rem, 0.714rem + 2.29vw, 2.5rem);
  margin-bottom: 30px;
}
.abouthtml-text p {
  font-family: "Noto Sans JP", serif;
  font-size: clamp(0.938rem, 0.041rem + 1.87vw, 1.5rem);
  line-height: clamp(1.875rem, -0.117rem + 4.15vw, 3.125rem);
  min-width: 32em;
}


.abouthtml-content h1::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: -18px;
  left: -55px;
  width: clamp(3.125rem, 1.786rem + 5.71vw, 6.25rem);
  height: clamp(3.125rem, 1.786rem + 5.71vw, 6.25rem);
  border-radius: 50%;
  background-color: #ffba0d;
}

.abouthtml-text {
  position: relative;
  flex: 1.7;
}
.abouthtml-text::before {
  content: "";
  z-index: -2;
  position: absolute;
  top: -180px;
  left: -70px;
  width: clamp(18.75rem, 4.018rem + 62.86vw, 53.125rem);
  height: clamp(18.75rem, 4.018rem + 62.86vw, 53.125rem);;
  border-radius: 50%;
  background-color: #fff6dc;
}
.abouthtml-item:nth-of-type(2n) {
  flex-direction: row-reverse;
  margin-left: 80px;
  margin-bottom: 400px;
}






/* Worksページ */
/*コンテンツ部分*/
.workshtml-content {
  display: block;
  margin: 150px auto 0;
  border-bottom: 1px solid #1a5d0d;
}

.workshtml-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-bottom: 200px;
  position: relative;
  
}

/* 画像エリア */
.workshtml-image {
  width: min(calc(500 / 1300* 100%), 500px);
}
.workshtml-image img {
  width: 100%;
  height: auto;
}

/* テキストエリア */
.workshtml-text {
  position: relative;
  margin-bottom: 20px;
  z-index: 1;
  font-family: "Noto Sans JP", serif;
}

.workshtml-text h1 {
  font-size: clamp(1.25rem, -0.742rem + 4.15vw, 2.5rem);
  font-weight: bold;
  color: #324216;
  position: relative;
  margin-bottom: 40px;
  z-index: 3;
}

.workshtml-text p {
  color: #324216;
  font-size: clamp(0.938rem, 0.041rem + 1.87vw, 1.5rem);
  line-height: clamp(1.875rem, -0.117rem + 4.15vw, 3.125rem);
  z-index: 3;
  position: relative;
  min-width: 32em;
}



.br-sp {
  display: none;
}
.br-pc {
  display: inline;
}

/*====================
  スマートフォン用のスタイル
 =====================*/
 

 @media screen and (max-width: 767px) {

  body {
    min-width: 375px;
    margin: 0;
  }
  /* PC用ナビゲーション非表示 */
  #nav-pc {
    display: none;
  }
  .br-pc {
    display: none;
  }
  .br-sp {
    display: inline;
  }
  /* ハンバーガーメニュー */
  #menu-sp {
    display: block;
    width: 100%;
    max-width: 40px;
    height: auto;
    position: absolute;
    top: 45px;
    right: 30px;
  }

  /* スマホ用ナビゲーションの表示切替 */
  /* 初期状態、レイアウトと非表示設定 */
  #nav-sp {
    background-color: #324216;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
  }

  #nav-sp ul {
    margin: 150px auto 50px auto;
  }

  #nav-sp ul li {
    list-style: none;
  }

  /* ×ボタン */
  #close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100%;
    max-width: 50px;
    height: auto;
  }

  #nav-sp a {
    display: block;
    text-align: center;
    text-decoration: none;
  }
  #nav-sp .menu {
    font-size: 35px;
    color: #fff6dc;
    margin: 70px auto;
  }

  

  #nav-sp a:visited {
    color: #ffffff;
  }

  #nav-sp a:hover {
    color: #ffffff;
    text-decoration: underline;
  }

  #nav-sp a:active {
    color: #ffffff;
  }

   #sns {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  .sns {
    margin: 0;
  }

  #sns img {
    width: 100%;
    max-width: 35px;
    height: auto;
  }
  


/* メインページ */
#main img {
  width: 100%;
  max-width: 750px;
  align-items: center;
}
.about-content, .service-list, .works-list {
  display: block;
}
.about-image img {
  width: 60%;
  margin-left: 0;
}
#about .section-title, #service .section-title, #works .section-title, #contact .section-title {
  margin-top: 100px;
}

.about-text h2, #about .about-text p {
  font-size: 15px;
}
.about-text h3 {
  font-size: 32px;
}
.about-text {
  text-align: center;
  width: auto;
}
#about .about-text p {
  line-height: 30px;
  min-width: 25em;
  width: 100%;
}
.btn-about img {
  max-width: 160px;
  width: 100%;
  height: auto;
  margin: 0 auto 100px auto;
}
.btn-works img {
  max-width: 160px;
  width: 100%;
  height: auto;
  margin: 0 auto 100px auto;
}
.service-item {
  padding: 0;
 
}
.service-item-image-1 img {
  width: 50%;
  height: auto;
}
.service-item-image-2 img {
  width: 50%;
  height: auto;
  margin-left: 20px;
}
.service-item h2, .tool h2 {
  font-size: 25px;
  margin: 10px 0 20px 0;
}
#service p {
  font-size: 15px;
  text-align: center;
}
.service-item:nth-of-type(2n) {
  transform: none;
}
.service-item p {
  line-height: 30px;
  margin: 0 auto 60px auto;
  transform: none;
}
.tool span {
  display: none;
}
.tool h2 {
  margin: 0 auto 20px auto;
}
.service-list {
  margin: 70px 0 0 0;
}
.tool {
  margin-bottom: 100px;
}
.works-item span {
  display: none;
}
.works-item {
  padding: 0;
}
.works-item img {
  width: 80%;
  height: auto;
}
.works-list {
  margin-bottom: 50px;
}
#contact .contact-item p {
  font-size: 15px;
  margin-bottom: 30px;
}
.contact-item img {
  width: 80%;
  margin-bottom: 100px;
}
.contact-item p {
  padding: 0;
}
.footer-logo img {
  width: 80%;
  height: auto;
  margin-top: 70px;
}
footer {
  text-align: center;
}
.copyright {
  padding: 0;
  margin: 20px 0 20px 0;
}
.footer-inner {
  display: block;
  justify-content: center;
}
.footer-nav ul {
  display: block;
}
.footer-nav a {
  font-size: 20px;
}
.footer-sns {
  justify-content: center;
  margin: 30px auto 70px auto;
}
#about p, #service p, #works p, #contact p {
  font-size: 15px;
}
#service p {
  padding: 0;
  line-height: 30px;
}
.service-item:nth-of-type(2n) {
  padding-left: 0;
}
#about .big-title, #service .big-title, #works .big-title, #contact .big-title {
  font-size: 75px;
}
#about h1, #service h1, #works h1, #contact h1 {
  font-size: 45px;
}

/* Aboutページ */
.abouthtml-item {
  display: block;
  text-align: center;
  margin-bottom: 200px;
}
.abouthtml-item-2 {
  display: block;
  text-align: center;
}
.abouthtml-item:nth-of-type(2n) {
  margin-bottom: 150px;
  margin-left: 0;
}
.about-big-title {
  font-size: 70px;
  position: relative;
}
.about-title h1 {
  font-size: 40px;
  position: absolute;
  bottom: -8px;
  ;
}
.about-title p {
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  left: 110px;
}
.about-title {
  margin: 50px auto;
  margin-left: 10px;
}
.abouthtml-content {
  margin: 0;
}
.abouthtml-item:nth-of-type(2n+1) {
  margin-right: 0;
}
.abouthtml-item:nth-of-type(2n) {
  margin-left: 0;
}
.abouthtml-image {
  width: min(60%, 440px);
  margin: 0 auto;
}
.abouthtml-image-2 {
  width: min(100%, 430px);
  margin: 0 auto;
}
.abouthtml-image img {
  width: min(100%, 440px);
  height: auto;
}
.abouthtml-text::before {
  position: absolute;
  width: 450px;
  height: 450px;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.abouthtml-content {
  overflow-x: hidden;
}
.abouthtml-text {
  width: auto;
  margin: 0 auto;
  position: relative;
}
.abouthtml-text h1 {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
}
.abouthtml-text p {
  font-size: 15px;
  line-height: 30px;
  min-width: auto;
  width: 100%;
}
.abouthtml-content h1::before {
  position: absolute;
  top: -10px;
  left: 38%;
  width: 50px;
  height: 50px;
}

.abouthtml-image-2 img {
  width: 80%;
}

/* Worksページ */
.workshtml-content {
  display: block;
  text-align: center;
  margin: 70px auto 0;
}
.workshtml-item {
  display: block;
  text-align: center;
  margin-bottom: 100px;
  border-bottom: 1px solid #1a5d0d;
}
.workshtml-item:last-child {
  border-bottom: none;
}
.workshtml-image {
  width: 80%;
  height: auto;
  margin: 0 auto 50px auto;
}

.workshtml-content {
  padding: 0;
}
.workshtml-text {
  margin: 0;
}
.workshtml-text h1 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.workshtml-text p {
  font-size: 15px;
  margin-bottom: 100px;
  min-width: auto;
  width: 100%;
}



}






